
.navbar {
  background: linear-gradient(#4776E6,#8e54e9);
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 1px;
}

.nav-link {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
}